aiohappyeyeballs==2.6.1
aiohttp==3.13.2
aiosignal==1.4.0
annotated-types==0.7.0
anyio==4.10.0
astroid==4.0.1
attrs==25.4.0
beautifulsoup4==4.14.3
blinker==1.9.0
certifi==2025.10.5
charset-normalizer==3.2.0
click==8.1.6
colorlog==6.7.0
coverage==7.11.0
cssselect==1.3.0
dill==0.4.0
docker==6.1.3
edgework==0.4.0
et_xmlfile==2.0.0
fastapi==0.116.2
flake8==7.3.0
Flask==3.1.2
frozenlist==1.8.0
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
idna==3.4
iniconfig==2.0.0
isort==7.0.0
itsdangerous==2.2.0
Jinja2==3.1.6
loguru==0.7.3
lxml==6.0.2
markdown-it-py==3.0.0
MarkupSafe==3.0.3
mccabe==0.7.0
mdurl==0.1.2
multidict==6.7.0
mypy-extensions==1.0.0
nhl-api-py==3.1.1
nhlapip==0.0.1
nhlpy==0.3.0
numpy==2.3.4
openpyxl==3.1.5
outcome==1.3.0.post0
packaging==23.1
pandas==2.3.3
pathspec==0.11.1
platformdirs==3.5.0
pluggy==1.6.0
propcache==0.4.1
psycopg2==2.9.11
psycopg2-binary==2.9.10
py==1.11.0
pycodestyle==2.14.0
pydantic==2.11.9
pydantic_core==2.33.2
pyflakes==3.4.0
Pygments==2.16.1
pylint==4.0.2
PyMySQL==1.1.2
pyparsing==3.1.0
pyquery==2.0.1
PySocks==1.7.1
pytest==8.4.2
python-dateutil==2.9.0.post0
python-dotenv==1.2.1
pytz==2025.2
PyYAML==6.0.1
requests==2.31.0
rich==13.4.2
sci-oer==1.3.0
selenium==4.38.0
shellingham==1.5.1
six==1.17.0
sniffio==1.3.1
sortedcontainers==2.4.0
soupsieve==2.8.1
sportsipy==0.6.0
SQLAlchemy==2.0.44
starlette==0.48.0
tomli==2.0.1
tomlkit==0.13.3
trio==0.32.0
trio-websocket==0.12.2
typer==0.9.0
typing-inspection==0.4.1
typing_extensions==4.15.0
tzdata==2025.2
urllib3==2.5.0
uvicorn==0.35.0
webdriver-manager==4.0.2
websocket-client==1.9.0
Werkzeug==3.1.3
wsproto==1.2.0
yarl==1.22.0
